<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 

	<title></title>
</head>
<body>
<br>
<div id="wrapper" style="padding: 5px; border: 2px solid black;">
 
</div>
					


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>

$(function(){

	$.get( "https://api.untappd.com/v4/search/beer?q=Duckpin&client_id=B2397B44662D900D4265BF03E035CE16D5CF4846&client_secret=2AE5A2667723D53FDDDCF2410EB5412F91FE433A", function( data ) {
	  		$.each(data.response.beers.items, function( index, value ) {
				

			//	var beerImg = value.beer.beer_label
			 var breweryLink = value.brewery.contact.url



	  			$("#wrapper").append("<ul>");
				$("#wrapper").append("<li><a href='http://google.com'>" + value.beer.beer_name + "</a></li>");
				$("#wrapper").append('<img src="' + value.beer.beer_label + '">');
				$("#wrapper").append("<li>" + "abv =  " + value.beer.beer_abv + "</li>");
				$("#wrapper").append("<li>" + value.beer.beer_style + "</li>");
				$("#wrapper").append('<a href= "' + breweryLink +'">' + value.brewery.brewery_name +  "</a>");
			//	$("#wrapper").append("<li>" + value.brewery.contact.url +  "</li>");
				$("#wrapper").append("</ul>");



				console.log(breweryLink)
  				console.log(value.beer.beer_name)
  				console.log(value.beer.beer_abv)
  				console.log(value.beer.beer_style)
			});		
	}, "json" );

})


</script>
   
    
</body>
</html>